# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):

.*.swp
*~
*.[oa]
*.so
*.l[oa]
*.loT
.deps
.libs
*-se.cc
*-se.hh
*-sr.cc
*-sr.hh
*-nn.cc
*-nn.hh
Makefile.in
Makefile
*.1
man-*
.keep
*.epicfail
*_TEST_dir/
*.tmp
*.log
paludis-*.*.*.tar.bz2

!/paludis/repositories/e/ebuild/utils/dolib.a
!/paludis/repositories/e/ebuild/utils/dolib.so
!/paludis/repositories/e/ebuild/utils/newlib.a
!/paludis/repositories/e/ebuild/utils/newlib.so

/INSTALL
/aclocal.m4
/autom4te.cache
/automake-deps-built-hack.tmp
/config.h
/config.h.in
/config.log
/config.status
/config
/configure
/doc/api/cplusplus/cplusplus
/doc/api/cplusplus/doxygen.conf
/doc/api/cplusplus/examples/example_about
/doc/api/cplusplus/examples/example_action
/doc/api/cplusplus/examples/example_contents
/doc/api/cplusplus/examples/example_dep_label
/doc/api/cplusplus/examples/example_dep_spec
/doc/api/cplusplus/examples/example_dep_spec_flattener
/doc/api/cplusplus/examples/example_dep_tag
/doc/api/cplusplus/examples/example_dep_tree
/doc/api/cplusplus/examples/example_environment
/doc/api/cplusplus/examples/example_formatter
/doc/api/cplusplus/examples/example_mask
/doc/api/cplusplus/examples/example_match_package
/doc/api/cplusplus/examples/example_metadata_key
/doc/api/cplusplus/examples/example_name
/doc/api/cplusplus/examples/example_package_database
/doc/api/cplusplus/examples/example_package_id
/doc/api/cplusplus/examples/example_repository
/doc/api/cplusplus/examples/example_selection
/doc/api/cplusplus/examples/example_stringify_formatter
/doc/api/cplusplus/examples/example_version_operator
/doc/api/cplusplus/examples/example_version_spec
/doc/api/cplusplus/libstdc++.tag
/doc/api/cplusplus/paludis.tag
/doc/api/footer.html.part
/doc/api/header.html.part
/doc/api/index.html
/doc/api/python/python
/doc/api/ruby/ruby
/doc/api/toplinks.html.part
/doc/changelog.html
/doc/changelog.html.part
/doc/changelog.subst
/doc/clients/accerso.html
/doc/clients/appareo.html
/doc/clients/cave.html
/doc/clients/cave-config.html
/doc/clients/cave-contents.html
/doc/clients/cave-digest.html
/doc/clients/cave-display-resolution.html
/doc/clients/cave-dump-cave-formats-conf.html
/doc/clients/cave-executables.html
/doc/clients/cave-execute-resolution.html
/doc/clients/cave-find-candidates.html
/doc/clients/cave-fix-cache.html
/doc/clients/cave-fix-linkage.html
/doc/clients/cave-generate-metadata.html
/doc/clients/cave-graph-jobs.html
/doc/clients/cave-has-version.html
/doc/clients/cave-help.html
/doc/clients/cave-import.html
/doc/clients/cave-info.html
/doc/clients/cave-manage-search-index.html
/doc/clients/cave-match.html
/doc/clients/cave-mirror.html
/doc/clients/cave-owner.html
/doc/clients/cave-perform.html
/doc/clients/cave-print-best-version.html
/doc/clients/cave-print-categories.html
/doc/clients/cave-print-commands.html
/doc/clients/cave-print-dependent-ids.html
/doc/clients/cave-print-environment-metadata.html
/doc/clients/cave-print-id-actions.html
/doc/clients/cave-print-id-contents.html
/doc/clients/cave-print-id-environment-variable.html
/doc/clients/cave-print-id-executables.html
/doc/clients/cave-print-id-masks.html
/doc/clients/cave-print-id-metadata.html
/doc/clients/cave-print-id-size.html
/doc/clients/cave-print-ids.html
/doc/clients/cave-print-owners.html
/doc/clients/cave-print-packages.html
/doc/clients/cave-print-repositories.html
/doc/clients/cave-print-repository-formats.html
/doc/clients/cave-print-repository-metadata.html
/doc/clients/cave-print-set.html
/doc/clients/cave-print-sets.html
/doc/clients/cave-print-spec.html
/doc/clients/cave-print-sync-protocols.html
/doc/clients/cave-print-unused-distfiles.html
/doc/clients/cave-purge.html
/doc/clients/cave-report.html
/doc/clients/cave-resolve.html
/doc/clients/cave-resume.html
/doc/clients/cave-search.html
/doc/clients/cave-show.html
/doc/clients/cave-size.html
/doc/clients/cave-sync.html
/doc/clients/cave-sync-protocol-options.html
/doc/clients/cave-uninstall.html
/doc/clients/cave-update-world.html
/doc/clients/cave-verify.html
/doc/clients/footer.html.part
/doc/clients/header.html.part
/doc/clients/index.html
/doc/clients/instruo.html
/doc/clients/toplinks.html.part
/doc/configuration/bashrc.html
/doc/configuration/bashrc.html.part
/doc/configuration/configfiles.html
/doc/configuration/general.html
/doc/configuration/general.html.part
/doc/configuration/envvars.html
/doc/configuration/erepository.html
/doc/configuration/erepository.html.part
/doc/configuration/exndbam.html
/doc/configuration/exndbam.html.part
/doc/configuration/fetchers.html
/doc/configuration/fetchers.html.part
/doc/configuration/fetchlist
/doc/configuration/footer.html.part
/doc/configuration/header.html.part
/doc/configuration/hooks.html
/doc/configuration/index.html
/doc/configuration/installedunpackaged.html
/doc/configuration/installedunpackaged.html.part
/doc/configuration/keywords.html
/doc/configuration/keywords.html.part
/doc/configuration/licenses.html
/doc/configuration/licenses.html.part
/doc/configuration/mirrors.html
/doc/configuration/mirrors.html.part
/doc/configuration/output.html
/doc/configuration/output.html.part
/doc/configuration/packagemask.html
/doc/configuration/packagemask.html.part
/doc/configuration/suggestions.html
/doc/configuration/suggestions.html.part
/doc/configuration/repositories.html
/doc/configuration/repositories.html.part
/doc/configuration/sets.html
/doc/configuration/sets.html.part
/doc/configuration/specpath.html
/doc/configuration/specpath.html.part
/doc/configuration/specs.html
/doc/configuration/syncers.html
/doc/configuration/syncers.html.part
/doc/configuration/synclist
/doc/configuration/toplinks.html.part
/doc/configuration/unavailable.html
/doc/configuration/unavailable.html.part
/doc/configuration/unwritten.html
/doc/configuration/unwritten.html.part
/doc/configuration/use.html
/doc/configuration/use.html.part
/doc/configuration/vdb.html
/doc/configuration/vdb.html.part
/doc/configuration/repositories/accounts.html
/doc/configuration/repositories/e.html
/doc/configuration/repositories/exndbam.html
/doc/configuration/repositories/footer.html.part
/doc/configuration/repositories/header.html.part
/doc/configuration/repositories/index.html
/doc/configuration/repositories/installed_accounts.html
/doc/configuration/repositories/installed_unpackaged.html
/doc/configuration/repositories/repository.html
/doc/configuration/repositories/toplinks.html.part
/doc/configuration/repositories/unavailable.html
/doc/configuration/repositories/unwritten.html
/doc/configuration/repositories/vdb.html
/doc/faq/different.html
/doc/faq/footer.html.part
/doc/faq/general.html
/doc/faq/header.html.part
/doc/faq/howdoi.html
/doc/faq/index.html
/doc/faq/misfunctionality.html
/doc/faq/operation.html
/doc/faq/repositories.html
/doc/faq/stricter.html
/doc/faq/toplinks.html.part
/doc/faq/upgrades.html
/doc/footer.html.part
/doc/header.html.part
/doc/index.html
/doc/index.html.part
/doc/news.html
/doc/news.html.part
/doc/news.subst
/doc/overview/contact.html
/doc/overview/features.html
/doc/overview/footer.html.part
/doc/overview/gettingstarted.html
/doc/overview/header.html.part
/doc/overview/index.html
/doc/overview/pbins.html
/doc/overview/toplinks.html.part
/doc/toplinks.html.part
/done-check
/hooks/Makefile.am
/hooks/eselect_env_update.bash
/hooks/news.hook
/image
/libtool
/paludis/Makefile.am
/paludis/about.hh
/paludis/about_TEST
/paludis/args/args_TEST
/paludis/broken_linkage_configuration_TEST
/paludis/comma_separated_dep_parser_TEST
/paludis/dep_spec_TEST
/paludis/elike_dep_parser_TEST
/paludis/elike_use_requirement_TEST
/paludis/environments/adapted/adapted_environment_TEST
/paludis/environments/no_config/no_config_environment_TEST
/paludis/environments/paludis/paludis_environment_TEST
/paludis/environments/paludis/world_TEST
/paludis/environments/portage/portage_environment_TEST
/paludis/fetchers/doftp
/paludis/fetchers/dohttp
/paludis/fetchers/dohttps
/paludis/filter_TEST
/paludis/filtered_generator_TEST
/paludis/fs_merger_TEST
/paludis/fuzzy_finder_TEST
/paludis/generator_TEST
/paludis/hooker_TEST
/paludis/host_tuple_name_TEST
/paludis/ihateautomake.cc
/paludis/name_TEST
/paludis/package_database_TEST
/paludis/paludis.hh
/paludis/repositories/accounts/accounts_repository_TEST
/paludis/repositories/e/aa_visitor_TEST
/paludis/repositories/e/dep_parser_TEST
/paludis/repositories/e/dep_spec_pretty_printer_TEST
/paludis/repositories/e/depend_rdepend_TEST
/paludis/repositories/e/e_repository_TEST
/paludis/repositories/e/e_repository_TEST_0
/paludis/repositories/e/e_repository_TEST_1
/paludis/repositories/e/e_repository_TEST_2
/paludis/repositories/e/e_repository_TEST_3
/paludis/repositories/e/e_repository_TEST_4
/paludis/repositories/e/e_repository_TEST_dependencies_rewriter
/paludis/repositories/e/e_repository_TEST_ever
/paludis/repositories/e/e_repository_TEST_exheres_0
/paludis/repositories/e/e_repository_TEST_exlibs
/paludis/repositories/e/e_repository_TEST_pbin
/paludis/repositories/e/e_repository_TEST_phases
/paludis/repositories/e/e_repository_TEST_replacing
/paludis/repositories/e/e_repository_TEST_symlink_rewriting
/paludis/repositories/e/e_repository_sets_TEST
/paludis/repositories/e/ebuild_flat_metadata_cache_TEST
/paludis/repositories/e/ebuild/utils/4/dohard
/paludis/repositories/e/ebuild/utils/4/dosed
/paludis/repositories/e/ebuild/utils/exheres-0/dohard
/paludis/repositories/e/ebuild/utils/exheres-0/dohtml
/paludis/repositories/e/ebuild/utils/exheres-0/donewins
/paludis/repositories/e/ebuild/utils/exheres-0/dosed
/paludis/repositories/e/ebuild/utils/exheres-0/ecompress
/paludis/repositories/e/ebuild/utils/exheres-0/ecompressdir
/paludis/repositories/e/ebuild/utils/exheres-0/fperms
/paludis/repositories/e/ebuild/utils/exheres-0/fowners
/paludis/repositories/e/ebuild/utils/exheres-0/install
/paludis/repositories/e/ebuild/utils/exheres-0/prepall
/paludis/repositories/e/ebuild/utils/exheres-0/prepalldocs
/paludis/repositories/e/ebuild/utils/exheres-0/prepallinfo
/paludis/repositories/e/ebuild/utils/exheres-0/prepallman
/paludis/repositories/e/ebuild/utils/exheres-0/prepallstrip
/paludis/repositories/e/ebuild/utils/exheres-0/prepdocs
/paludis/repositories/e/ebuild/utils/exheres-0/prepinfo
/paludis/repositories/e/ebuild/utils/exheres-0/prepman
/paludis/repositories/e/ebuild/utils/exheres-0/prepstrip
/paludis/repositories/e/ebuild/utils/kdebuild-1/dohard
/paludis/repositories/e/ebuild/utils/kdebuild-1/dohtml
/paludis/repositories/e/ebuild/utils/kdebuild-1/donewins
/paludis/repositories/e/ebuild/utils/kdebuild-1/dosed
/paludis/repositories/e/ebuild/utils/kdebuild-1/ecompress
/paludis/repositories/e/ebuild/utils/kdebuild-1/ecompressdir
/paludis/repositories/e/ebuild/utils/kdebuild-1/prepall
/paludis/repositories/e/ebuild/utils/kdebuild-1/prepalldocs
/paludis/repositories/e/ebuild/utils/kdebuild-1/prepallinfo
/paludis/repositories/e/ebuild/utils/kdebuild-1/prepallman
/paludis/repositories/e/ebuild/utils/kdebuild-1/prepallstrip
/paludis/repositories/e/ebuild/utils/kdebuild-1/prepdocs
/paludis/repositories/e/ebuild/utils/kdebuild-1/prepinfo
/paludis/repositories/e/ebuild/utils/kdebuild-1/prepman
/paludis/repositories/e/ebuild/utils/kdebuild-1/prepstrip
/paludis/repositories/e/ebuild/utils/locked_pipe_command
/paludis/repositories/e/ebuild/utils/prepall
/paludis/repositories/e/ebuild/utils/prepalldocs
/paludis/repositories/e/ebuild/utils/prepallinfo
/paludis/repositories/e/ebuild/utils/prepallman
/paludis/repositories/e/ebuild/utils/prepallstrip
/paludis/repositories/e/ebuild/utils/prepdocs
/paludis/repositories/e/ebuild/utils/prepinfo
/paludis/repositories/e/ebuild/utils/prepman
/paludis/repositories/e/ebuild/utils/prepstrip
/paludis/repositories/e/ebuild/utils/print_exports
/paludis/repositories/e/ebuild/utils/unpaxinate
/paludis/repositories/e/exndbam_repository_TEST
/paludis/repositories/e/fetch_visitor_TEST
/paludis/repositories/e/fix_locked_dependencies_TEST
/paludis/repositories/e/qa/default_functions_TEST
/paludis/repositories/e/qa/extractors_TEST
/paludis/repositories/e/qa/function_keyword_TEST
/paludis/repositories/e/qa/homepage_key_TEST
/paludis/repositories/e/qa/inherited_key_TEST
/paludis/repositories/e/qa/keywords_key_TEST
/paludis/repositories/e/qa/kv_variables_TEST
/paludis/repositories/e/qa/manifest_TEST
/paludis/repositories/e/qa/misc_files_TEST
/paludis/repositories/e/qa/spec_keys_TEST
/paludis/repositories/e/qa/stray_files_TEST
/paludis/repositories/e/qa/subshell_die_TEST
/paludis/repositories/e/qa/visibility_TEST
/paludis/repositories/e/source_uri_finder_TEST
/paludis/repositories/e/vdb_merger_TEST
/paludis/repositories/e/vdb_repository_TEST
/paludis/repositories/e/vdb_repository_TEST_eapis
/paludis/repositories/e/vdb_repository_TEST_cache
/paludis/repositories/e/vdb_unmerger_TEST
/paludis/repositories/e/xml_things_TEST
/paludis/repositories/fake/dep_parser_TEST
/paludis/repositories/fake/fake_installed_repository_TEST
/paludis/repositories/fake/fake_repository_TEST
/paludis/repositories/unavailable/unavailable_repository_TEST
/paludis/repositories/unpackaged/installed_repository_TEST
/paludis/repositories/unpackaged/unpackaged_repository_TEST
/paludis/repositories/unwritten/unwritten_repository_TEST
/paludis/repositories/virtuals/installed_virtuals_repository_TEST
/paludis/repositories/virtuals/virtuals_repository_TEST
/paludis/repository_name_cache_TEST
/paludis/resolver/resolver_TEST_any
/paludis/resolver/resolver_TEST_blockers
/paludis/resolver/resolver_TEST_continue_on_failure
/paludis/resolver/resolver_TEST_cycles
/paludis/resolver/resolver_TEST_errors
/paludis/resolver/resolver_TEST_fetches
/paludis/resolver/resolver_TEST_purges
/paludis/resolver/resolver_TEST_serialisation
/paludis/resolver/resolver_TEST_simple
/paludis/resolver/resolver_TEST_suggestions
/paludis/resolver/resolver_TEST_uninstalls
/paludis/resolver/resolver_TEST_virtuals
/paludis/selection_TEST
/paludis/set_file_TEST
/paludis/stringify_formatter_TEST
/paludis/stripper_TEST
/paludis/stripper_TEST_binary
/paludis/syncers/dobzr
/paludis/syncers/dobzr+aftp
/paludis/syncers/dobzr+file
/paludis/syncers/dobzr+ftp
/paludis/syncers/dobzr+http
/paludis/syncers/dobzr+https
/paludis/syncers/dobzr+lp
/paludis/syncers/dobzr+sftp
/paludis/syncers/dobzr+ssh
/paludis/syncers/docvs+ext
/paludis/syncers/docvs+pserver
/paludis/syncers/docvs+ssh
/paludis/syncers/dodarcs+file
/paludis/syncers/dodarcs+http
/paludis/syncers/dodarcs+https
/paludis/syncers/dodarcs+ssh
/paludis/syncers/dofile
/paludis/syncers/dogit
/paludis/syncers/dogit+file
/paludis/syncers/dogit+http
/paludis/syncers/dogit+https
/paludis/syncers/dogit+rsync
/paludis/syncers/dogit+ssh
/paludis/syncers/dohg+file
/paludis/syncers/dohg+http
/paludis/syncers/dohg+https
/paludis/syncers/dohg+ssh
/paludis/syncers/dohg+static-http
/paludis/syncers/dorsync
/paludis/syncers/dorsync+ssh
/paludis/syncers/dosvn
/paludis/syncers/dosvn+file
/paludis/syncers/dosvn+http
/paludis/syncers/dosvn+https
/paludis/syncers/dosvn+ssh
/paludis/syncers/dotar+file
/paludis/syncers/dotar+ftp
/paludis/syncers/dotar+http
/paludis/syncers/dotar+https
/paludis/tar_merger_TEST
/paludis/user_dep_spec_TEST
/paludis/util/Makefile.am
/paludis/util/action_queue_TEST
/paludis/util/active_object_ptr_TEST
/paludis/util/buffer_output_stream_TEST
/paludis/util/byte_swap_TEST
/paludis/util/condition_variable_TEST
/paludis/util/config_file_TEST
/paludis/util/create_iterator_TEST
/paludis/util/damerau_levenshtein_TEST
/paludis/util/deferred_construction_ptr_TEST
/paludis/util/destringify_TEST
/paludis/util/dir_iterator_TEST
/paludis/util/echo_functions.bash
/paludis/util/enum_iterator_TEST
/paludis/util/extract_host_from_url_TEST
/paludis/util/fs_entry_TEST
/paludis/util/fs_iterator_TEST
/paludis/util/fs_path_TEST
/paludis/util/fs_stat_TEST
/paludis/util/graph_TEST
/paludis/util/hashes_TEST
/paludis/util/indirect_iterator_TEST
/paludis/util/is_file_with_extension_TEST
/paludis/util/iterator_funcs_TEST
/paludis/util/join_TEST
/paludis/util/log_TEST
/paludis/util/md5_TEST
/paludis/util/member_iterator_TEST
/paludis/util/mutex_TEST
/paludis/util/options_TEST
/paludis/util/outputwrapper
/paludis/util/pool_TEST
/paludis/util/pretty_print_TEST
/paludis/util/process_TEST
/paludis/util/pty_TEST
/paludis/util/random_TEST
/paludis/util/realpath_TEST
/paludis/util/return_literal_function_TEST
/paludis/util/rmd160_TEST
/paludis/util/safe_ifstream_TEST
/paludis/util/safe_ofstream_TEST
/paludis/util/save_TEST
/paludis/util/sha1_TEST
/paludis/util/sha256_TEST
/paludis/util/simple_parser_TEST
/paludis/util/singleton_TEST
/paludis/util/stringify_TEST
/paludis/util/string_list_stream_TEST
/paludis/util/strip_TEST
/paludis/util/system_TEST
/paludis/util/tail_output_stream_TEST
/paludis/util/thread_TEST
/paludis/util/thread_pool_TEST
/paludis/util/tokeniser_TEST
/paludis/util/tribool_TEST
/paludis/util/util.hh
/paludis/util/virtual_constructor_TEST
/paludis/util/visitor_TEST
/paludis/util/visitor_cast_TEST
/paludis/util/wildcard_expander_TEST
/paludis/util/wrapped_forward_iterator_TEST
/paludis/util/wrapped_value_TEST
/paludis/version_operator_TEST
/paludis/version_spec_TEST
/pkg-config/paludis.pc
/src/clients/accerso/accerso
/src/clients/accerso/*.txt
/src/clients/accerso/*.xml
/src/clients/accerso/*.html-man-fragment
/src/clients/appareo/appareo
/src/clients/appareo/*.txt
/src/clients/appareo/*.xml
/src/clients/cave/cave
/src/clients/cave/*.txt
!/src/clients/cave/cave.txt
/src/clients/cave/*.xml
/src/clients/cave/*.html-man-fragment
/src/clients/instruo/instruo
/src/clients/instruo/*.txt
/src/clients/instruo/*.xml
/stamp-h1
/test/test_fail_TEST
/test/test_pass_TEST
