# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):

.*.swp
*~
*.[oa]
*.so
*.l[oa]
*.loT
.deps
.libs
man-*
*.epicfail
*_TEST_dir/
*.tmp
*.log
paludis-*.*.*.tar.bz2
tags

!/paludis/repositories/e/ebuild/utils/dolib.a
!/paludis/repositories/e/ebuild/utils/dolib.so
!/paludis/repositories/e/ebuild/utils/newlib.a
!/paludis/repositories/e/ebuild/utils/newlib.so

/cscope.files
/cscope.in.out
/cscope.out
/cscope.po.out
/doc/api/cplusplus/cplusplus
/doc/api/cplusplus/doxygen.conf
/doc/api/cplusplus/examples/example_about
/doc/api/cplusplus/examples/example_action
/doc/api/cplusplus/examples/example_contents
/doc/api/cplusplus/examples/example_dep_label
/doc/api/cplusplus/examples/example_dep_spec
/doc/api/cplusplus/examples/example_dep_spec_flattener
/doc/api/cplusplus/examples/example_dep_tag
/doc/api/cplusplus/examples/example_dep_tree
/doc/api/cplusplus/examples/example_environment
/doc/api/cplusplus/examples/example_formatter
/doc/api/cplusplus/examples/example_mask
/doc/api/cplusplus/examples/example_match_package
/doc/api/cplusplus/examples/example_metadata_key
/doc/api/cplusplus/examples/example_name
/doc/api/cplusplus/examples/example_package_id
/doc/api/cplusplus/examples/example_repository
/doc/api/cplusplus/examples/example_selection
/doc/api/cplusplus/examples/example_stringify_formatter
/doc/api/cplusplus/examples/example_version_operator
/doc/api/cplusplus/examples/example_version_spec
/doc/api/cplusplus/libstdc++.tag
/doc/api/cplusplus/paludis.tag
/doc/api/footer.html.part
/doc/api/header.html.part
/doc/api/index.html
/doc/api/python/python
/doc/api/python/conf.py
/doc/api/python/doctrees
/doc/api/ruby/ruby
/doc/api/toplinks.html.part
/doc/changelog.html
/doc/changelog.html.part
/doc/changelog.subst
/doc/clients/cave.html
/doc/clients/cave-config.html
/doc/clients/cave-contents.html
/doc/clients/cave-digest.html
/doc/clients/cave-display-resolution.html
/doc/clients/cave-dump-cave-formats-conf.html
/doc/clients/cave-executables.html
/doc/clients/cave-execute-resolution.html
/doc/clients/cave-find-candidates.html
/doc/clients/cave-fix-cache.html
/doc/clients/cave-fix-linkage.html
/doc/clients/cave-generate-metadata.html
/doc/clients/cave-graph-jobs.html
/doc/clients/cave-has-version.html
/doc/clients/cave-help.html
/doc/clients/cave-import.html
/doc/clients/cave-info.html
/doc/clients/cave-manage-search-index.html
/doc/clients/cave-match.html
/doc/clients/cave-mirror.html
/doc/clients/cave-owner.html
/doc/clients/cave-perform.html
/doc/clients/cave-print-best-version.html
/doc/clients/cave-print-categories.html
/doc/clients/cave-print-checksum.html
/doc/clients/cave-print-checksum-algorithms.html
/doc/clients/cave-print-commands.html
/doc/clients/cave-print-dependent-ids.html
/doc/clients/cave-print-environment-metadata.html
/doc/clients/cave-print-id-actions.html
/doc/clients/cave-print-id-contents.html
/doc/clients/cave-print-id-environment-variable.html
/doc/clients/cave-print-id-executables.html
/doc/clients/cave-print-id-masks.html
/doc/clients/cave-print-id-metadata.html
/doc/clients/cave-print-id-size.html
/doc/clients/cave-print-ids.html
/doc/clients/cave-print-owners.html
/doc/clients/cave-print-packages.html
/doc/clients/cave-print-repositories.html
/doc/clients/cave-print-repository-formats.html
/doc/clients/cave-print-repository-metadata.html
/doc/clients/cave-print-resolution-required-confirmations.html
/doc/clients/cave-print-set.html
/doc/clients/cave-print-sets.html
/doc/clients/cave-print-spec.html
/doc/clients/cave-print-sync-protocols.html
/doc/clients/cave-print-unmanaged-files.html
/doc/clients/cave-print-unused-distfiles.html
/doc/clients/cave-purge.html
/doc/clients/cave-report.html
/doc/clients/cave-resolve.html
/doc/clients/cave-resume.html
/doc/clients/cave-search.html
/doc/clients/cave-show.html
/doc/clients/cave-size.html
/doc/clients/cave-sync.html
/doc/clients/cave-sync-protocol-options.html
/doc/clients/cave-uninstall.html
/doc/clients/cave-update-world.html
/doc/clients/cave-verify.html
/doc/clients/footer.html.part
/doc/clients/header.html.part
/doc/clients/index.html
/doc/clients/toplinks.html.part
/doc/configuration/bashrc.html
/doc/configuration/bashrc.html.part
/doc/configuration/configfiles.html
/doc/configuration/general.html
/doc/configuration/general.html.part
/doc/configuration/envvars.html
/doc/configuration/erepository.html
/doc/configuration/erepository.html.part
/doc/configuration/exndbam.html
/doc/configuration/exndbam.html.part
/doc/configuration/fetchers.html
/doc/configuration/fetchers.html.part
/doc/configuration/fetchlist
/doc/configuration/footer.html.part
/doc/configuration/header.html.part
/doc/configuration/hooks.html
/doc/configuration/index.html
/doc/configuration/installedunpackaged.html
/doc/configuration/installedunpackaged.html.part
/doc/configuration/keywords.html
/doc/configuration/keywords.html.part
/doc/configuration/licenses.html
/doc/configuration/licenses.html.part
/doc/configuration/mirrors.html
/doc/configuration/mirrors.html.part
/doc/configuration/output.html
/doc/configuration/output.html.part
/doc/configuration/packagemask.html
/doc/configuration/packagemask.html.part
/doc/configuration/suggestions.html
/doc/configuration/suggestions.html.part
/doc/configuration/repositories.html
/doc/configuration/repositories.html.part
/doc/configuration/sets.html
/doc/configuration/sets.html.part
/doc/configuration/specpath.html
/doc/configuration/specpath.html.part
/doc/configuration/specs.html
/doc/configuration/syncers.html
/doc/configuration/syncers.html.part
/doc/configuration/synclist
/doc/configuration/toplinks.html.part
/doc/configuration/unavailable.html
/doc/configuration/unavailable.html.part
/doc/configuration/unwritten.html
/doc/configuration/unwritten.html.part
/doc/configuration/use.html
/doc/configuration/use.html.part
/doc/configuration/vdb.html
/doc/configuration/vdb.html.part
/doc/configuration/repositories/accounts.html
/doc/configuration/repositories/e.html
/doc/configuration/repositories/exndbam.html
/doc/configuration/repositories/footer.html.part
/doc/configuration/repositories/header.html.part
/doc/configuration/repositories/index.html
/doc/configuration/repositories/installed_accounts.html
/doc/configuration/repositories/installed_unpackaged.html
/doc/configuration/repositories/repository.html
/doc/configuration/repositories/toplinks.html.part
/doc/configuration/repositories/unavailable.html
/doc/configuration/repositories/unwritten.html
/doc/configuration/repositories/vdb.html
/doc/faq/different.html
/doc/faq/footer.html.part
/doc/faq/general.html
/doc/faq/header.html.part
/doc/faq/howdoi.html
/doc/faq/index.html
/doc/faq/misfunctionality.html
/doc/faq/operation.html
/doc/faq/repositories.html
/doc/faq/stricter.html
/doc/faq/toplinks.html.part
/doc/faq/upgrades.html
/doc/overview/contact.html
/doc/overview/features.html
/doc/overview/footer.html.part
/doc/overview/gettingstarted.html
/doc/overview/header.html.part
/doc/overview/index.html
/doc/overview/pbins.html
/doc/overview/toplinks.html.part
/doc/toplinks.html.part
/hooks/eselect_env_update.bash
/image
