Alexander Færøy <ahf@0x90.dk> <eroyf@eroyf.org>
Ali Polatel <alip@exherbo.org> <polatel@gmail.com>
Bo Ørsted Andresen <bo.andresen@zlin.dk> <zlin@exherbo.org>
Kim Højgaard-Hansen <kimrhh@exherbo.org>
Kim Højgaard-Hansen <kimrhh@exherbo.org> <kimhh@kimhh-laptop.(none)>
Mike Kelly <pioto@pioto.org> pioto <pioto@everglades.pioto.org>
Piotr Jaroszyński <p.jaroszynski@gmail.com> <peper@gentoo.org>
Richard Brown <rbrown@exherbo.org> <rb@lore.(none)>
Robert "arachnist" Gerus <ar@bash.org.pl> <arachnist@gmail.com>
Saleem Abdulrasool <compnerd@compnerd.org> <compnerd@gentoo.org>
Stephen Bennett <spb@exherbo.org>
